
@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <div class="jumbotron">

        <div class="gate-index-uppercard">

            <div class="gate-grid-banner-cards">

                <div class="gate-banner-card">
                    <h1>
                        Excellent Taste
                    </h1>
                    <p>
                        Reserverings App
                    </p>
                </div>

                <a href="bestellings/kok" class="gate-banner-card">
                    <p>Kok</p>
                </a>

                <a href="bestellings/bar" class="gate-banner-card">
                    <p>Barman</p>
                </a>

            </div>
        </div>

    </div>
</div>
